body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-family: 'Yeon Sung', cursive;
	background-color: rgb(21,23,41);
	color: rgb(243,249,254);
}

header {
	width: 100vw;
	height: 100px;
	margin: 0;
	display: flex;
	flex-direction: column;
} header h1 {
	margin: auto;
}

form {
	margin: 0;
	display: flex;
	flex-direction: row;
	margin: 0 auto 0 auto;
}

.forecast {
	margin: 0;
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;

}.forecast p {
	text-align: center;
}.forecast img {
	margin: 0 auto;
	width: 10vmin;
}

footer {
	width: 100vw;
	margin: auto 0 0 0;
	display: flex;
	flex-direction: column;
} footer p {
	margin: 0 1vmin 1vmin auto;
}